[submodule "valueinvesting/screener/CppModules/EPV/deps/libpqxx"]
	path = valueinvesting/screener/CppModules/EPV/deps/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "deps/libpqxx"]
	path = deps/libpqxx
	url = https://github.com/jtv/libpqxx.git
