.flexbox-wrapper-select-fields{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.table-cell-title{
    font-weight: 700 !important;
}

.rechart-element{
    background-color: white !important;
    margin-left: 30px !important;
    padding-top: 22px;
    border-radius: 8px;
    padding-right: 12px;
    padding-left: -12px;
    box-shadow: -3px -3px 15px -1px rgba(117, 117, 117, 0.82);;
padding-bottom: 12px !important;
}

.recharts-default-legend{
    padding-bottom: 12px !important;
}

.circular-progress-customized.MuiCircularProgress-root{
    width: 52px !important;
    height: 52px !important;
}

.loading-text-circular-progress{
    font-size: 20px;
    font-weight: 600;
}

.flex-wrapper-submit-button-valuation{
    display: flex;
    justify-content: end;
    margin-top: 12px;
}

.flex-wrapper-valuation-title{
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
}

.circle-symbol{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    /* background-color: green; */
}

.flexwrapper-price-details{
    display: flex;
    margin-bottom: 28px;
    gap: 20px;
}

.accordion-title{
    font-size: 18px;
    font-weight: 600;
    flex-shrink: 1;
}

.valuation-chip-wrapper{
    display: flex;
    gap: 12px;
    flex-shrink: 0;
}

.section-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.flex-item-card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        padding: 16px 12px;
        border-radius: 12px;
        border-style: solid;
}   

.title-value{
    font-size: 16px;
    font-weight: 700;
}

.line-graph-wrapper  {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 44px;
    /* Your styles here */
    /* transform: rotate(0); */
}

.graph-title{
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.child-accordion-title{
    font-weight: 600;
}

.valuation-status-chip{
    display: flex;
    align-items: center;
    gap: 12px;
    border-style: solid;
    border-radius: 32px;
    padding: 8px 12px;
}

.chip-title{
    font-weight: 600;
}

.chip-subscript{
    font-size: 10px;
    margin-left: -2px;
}