/* define some global css variables */
:root {
  --input-fields-hover-color: #f6f6f6;
  --drawer-width: 240px; /* this defines the width of the drawer if not collapsed */
  --padding-right-left-main-content: 16px; /* this defines the padding of the main content */


  /* defines the font used in the application */
  --font-family: "Plus Jakarta Sans",
    sans-serif;

  --main-color: #004170;

  /* defines the grey scale text color */
  --text-color-grey-scale: rgb(107 114 128);

  /* defines the action color; this includes buttons and logo */
  --action-color: rgb(79 70 229);
  --action-color-transparent: rgba(79 ,70, 229,0.3);
  --action-color-more-transparent: rgba(79, 70, 229, 0.15);
  --chip-applied-filter-bg-color: rgb(238 242 255 / 0.7);

  /* defines the black color, mainyl used for header */
  --header-color: rgb(17 24 39);
}


body, html{
  font-family: var(--font-family);

  /* sets the background color to light purple */
  background-color: #f0f2f5;
  background-image: radial-gradient(at 0% 0%,
        hsla(243, 86%, 95%, 0.4) 0px,
        transparent 50%),
      radial-gradient(at 100% 0%,
        hsla(289, 86%, 95%, 0.4) 0px,
        transparent 50%),
      radial-gradient(at 0% 100%,
        hsla(189, 86%, 95%, 0.4) 0px,
        transparent 50%),
      radial-gradient(at 80% 90%,
        hsla(330, 86%, 95%, 0.4) 0px,
        transparent 50%);
}

/* Override MUI Typography and other components globally */
.MuiTypography-root,
.MuiButton-root,
.MuiInputBase-root,
.MuiFormLabel-root,
.MuiSelect-root,
.MuiTextField-root,
.MuiAutocomplete-option,
.MuiMenuItem-root {
  font-family: var(--font-family) !important;
}

/* remove arrows from input field type number START */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* redesign START */

.main-content-wrapper{
  max-width: 1260px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 48px;
  padding-bottom: 160px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.flex-wrapper-main-content{
  flex-grow: 1;
}

/* .view-lines.monaco-mouse-cursor-text{
  font-family: var(--font-family) !important;
} */

/* Suggest dropdown background */
.monaco-editor .suggest-widget {
  border-radius: 8px !important;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15) !important; */
  /* background: #fdfdfd !important; */
  /* border: 1px solid #ccc !important; */
}

.monaco-editor-label{
  color: var(--text-color-grey-scale);
}

.floating-hint {
  position: absolute;
  bottom: 4px;
  right: 8px;
  font-size: 0.75rem;
  color: #aaa;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  padding: 2px 6px;
  pointer-events: none;
  backdrop-filter: blur(4px);
}

.floating-hint kbd {
  background: #eee;
  border-radius: 3px;
  padding: 1px 3px;
  font-family: monospace;
}

/* Each suggestion item */
/* .monaco-editor .monaco-list-row {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-size: 13px !important;
} */

/* Highlighted suggestion */
.monaco-editor .monaco-list-row.focused {
  background: var(--action-color-more-transparent) !important;
/* background: red;   */
  color: var(--header-color) !important;
}

.monaco-editor .suggest-icon.codicon.codicon-symbol-variable::before {
  content: "";
  /* remove the codicon glyph */
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url('https://cdn.jsdelivr.net/npm/@mdi/svg@7.4.47/svg/variable.svg');  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.monaco-highlighted-label > .highlight{
  color: var(--action-color) !important;
}

/* .suggest-icon.codicon.codicon-symbol-variable{
  display: none !important;
} */

.monaco-editor .suggest-widget .label .highlight {
  color: red !important;
  /* match highlight color */
  font-weight: 600 !important;
  /* bold highlight */
}

.MuiButtonBase-root.MuiChip-root{
  color: var(--action-color);
  background-color: var(--chip-applied-filter-bg-color);
  font-family: var(--font-family);
  border-color: var(--action-color);
  font-weight: 600;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiChip-deleteIcon{
  color: var(--action-color)
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiChip-deleteIcon:hover {
  color: var(--action-color)
}

.MuiButtonBase-root{
  text-transform: none !important;
}

.MuiButtonBase-root.contained-custom-button{
  background-color: var(--action-color) !important;
  border-radius: 12px;
}

.title{
  font-size: 40px;
  font-weight: 700;
  color: var(--header-color)
}

.sub-title{
  color: var(--text-color-grey-scale)

}

/* override color of nav bar */
.MuiPaper-root.nav-bar-custom{
  background: rgba(255, 255, 255, 0.7);
  /* background: blue; */
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0px 0px 16px 16px;
}

.company-logo-nav-bar{
  height: 32px;
  width: 32px;
  color: var(--action-color);
  margin-right: 4px;
}

.flex-box-wrapper-logo{
  display: flex;
  align-items: center;
}

.header-color-black-scale{
  color: var(--header-color)
}

.screener-templates-flex-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.MuiInputBase-root.custom-select{
  border-radius: 12px;
}

.MuiButtonBase-root.contained-custom-button.custom-metric{
  width: 100%;
  margin-top: 20px;
}

.text-empty-filters{
  color: var(--text-color-grey-scale)
}

.grid-wrapper-screener{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}

.flexbox-wrapper-filter-criteria-fields{
  display: flex;
  flex-direction: column;
}

.flex-item-filter-field{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.flex-item-filter-field >* {
  flex: 1 1 160px;
  /* grow and shrink equally, but not smaller than 150px */
  min-width: 160px;
  /* explicit safeguard */
}

.applied-filters-flexbox-wrapper{
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}
/* .filters-criteria-grid-item {
  grid-column: span 5;
}

.screener-results-grid-item {
  grid-column: span 7;
} */

.MuiInputBase-root.MuiOutlinedInput-root{
  border-radius: 12px !important;
}

.MuiFormLabel-root.MuiInputLabel-root.Mui-focused{
  color: var(--action-color) !important;
}

.MuiFormLabel-root.custom-input-label.Mui-focused{
  color: var(--action-color) !important;
}

.MuiMenuItem-root.Mui-selected{
  background-color: var(--action-color-transparent) !important;
}

.flex-wrapper-filter-views-compo{
  display: flex;
  align-items: center;
  gap: 8px;
}

.title-mid-size{
  font-weight: 600;
  font-size: 18px;
  line-height: 1.75rem;
}

.glass-card {
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(79, 70, 229, 0.1);
  padding: 24px;
  border-radius: 20px;
}

 .nav-items-flexbox-wraper {
   display: flex;
   flex-grow: 1;
   gap: 20px;
   margin-left: 40px;
   color: var(--text-color-grey-scale);
   font-weight: 500;
 }

 .wrapper-hamburger-menu{
  color: var(--header-color)
 }

 .MuiAvatar-root.custom-avatar{
    background: var(--action-color)
 }

/* For screens smaller than 600px (phones) */
@media (max-width: 599.95px) {
.company-name-left-side {
    display: none;
  }

  .company-name-middle{
    display: flex;
  }

  .MuiToolbar-root.mui-toolbar-custom{
    justify-content: space-between;
  }

  .nav-items-flexbox-wraper{
    display: none;
  }

    .grid-wrapper-screener {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
    }

 

}

/* Small and up (>=600px) */
@media (min-width: 600px) {
  .company-name-left-side {
    display: none;
  }

  .company-name-middle {
    display: flex;
  }

  .MuiToolbar-root.mui-toolbar-custom {
    justify-content: space-between;
  }

  .nav-items-flexbox-wraper {
    display: none;
  }

  .filters-criteria-grid-item {
    grid-column: span 5;
  }

  .screener-results-grid-item {
    grid-column: span 7;
  }

}

/* Medium and up (>=900px) */
@media (min-width: 900px) {
  .company-name-left-side {
      display: flex;
    }

    .company-name-middle {
      display: none;
    }

    .wrapper-hamburger-menu {
      display: none;
    }

    .nav-items-flexbox-wraper {
      display: flex;
      flex-grow: 1;
      gap: 20px;
      margin-left: 40px;
    }

    .container-grid {
      grid-template-columns: repeat(12, 1fr);
      /* lg:grid-cols-12 */
    }

    .filters-criteria-grid-item{
      grid-column: span 4;
    }

    .screener-results-grid-item{
      grid-column: span 8;
    }

}

/* Large and up (>=1200px) */
@media (min-width: 1200px) {
  
}

/* Extra large and up (>=1536px) */
@media (min-width: 1536px) {
  
}

/* redesign END */


/* remove arrows from input field type number END */

.column-title{
  font-weight: 600 !important;
}


/* outlinedinput dynamic cv START */
.outlinedinput-customized>.MuiOutlinedInput-input {
  padding: 0px 0px !important;
  text-align: right !important;
  font-size: 0.875rem !important;
  line-height: 1.43 !important;
}

.balance-sheet-item-name.MuiInputBase-root{
  height: 22px !important
}

.balance-sheet-item-name >.MuiOutlinedInput-input{
  text-align: left !important;
  min-width: 220px !important;
  max-width: 300px !important;

  /* width: 400px !important; */
}



.outlinedinput-customized>.MuiOutlinedInput-input:hover {
  /* padding: 0px 2px !important */
  border-radius: 4px !important;
  background-color: var(--input-fields-hover-color);
}

.outlinedinput-customized>.MuiOutlinedInput-notchedOutline {
  border-style: none !important;
  
}

.outlinedinput-customized.Mui-focused>.MuiOutlinedInput-notchedOutline {
  border-style: solid !important;
  border-width: 1px !important;
  border-color: blue !important;
}

/* multiline styling starts here */
.outlinedinput-customized.MuiInputBase-multiline {
  padding: 0px 0px !important;
  height: 100% !important;
}

.outlinedinput-customized.MuiInputBase-multiline.certificate {
  padding: 0px 0px !important;
  height: 100% !important;
  width: 100% !important;
}

.icon-button-add-balance-sheet-item.MuiButtonBase-root{
  color: blue !important;
  padding: 8px 8px 8px 8px !important;
  margin-right: -8px !important;
}

.icon-button-add-balance-sheet-item > .MuiSvgIcon-root{
  font-size: 1.8rem;
}

/* outlinedinput dynamic cv START */
.outlinedinput-dynamic-cv>.MuiOutlinedInput-input {
  padding: 0px 0px !important
}



.outlinedinput-dynamic-cv>.MuiOutlinedInput-input:hover {
  /* padding: 0px 2px !important */
  border-radius: 4px !important;
}

.outlinedinput-dynamic-cv>.MuiOutlinedInput-notchedOutline {
  border-style: none !important;
}

.outlinedinput-dynamic-cv.Mui-focused>.MuiOutlinedInput-notchedOutline {
  border-style: solid !important;
  border-width: 1px !important;
}

/* multiline styling starts here */
.outlinedinput-dynamic-cv.MuiInputBase-multiline {
  padding: 0px 0px !important;
  height: 100% !important;
}

.outlinedinput-dynamic-cv.MuiInputBase-multiline.certificate {
  padding: 0px 0px !important;
  height: 100% !important;
  width: 100% !important;
}

.MuiOutlinedInput-input:hover {
  background-color: rgba(235, 234, 236, 0.42) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--philico-blue) !important;
}

.MuiOutlinedInput-root.Mui-focused input {
  background-color: rgba(235, 234, 236, 0.42) !important;
}

/* Customize MUIRichTextEditor START */
#mui-rte-root:hover {
  border-color: var(--philico-blue) !important;
  background-color: rgba(235, 234, 236, 0.42) !important;
  cursor: text !important
}

/* #mui-rte-container > .MUIRichTextEditor-editorContainer-5{
  padding: 0 !important;
} */

#mui-rte-container>div[class*=MUIRichTextEditor-editorContainer] {
  padding: 0 !important;
  color: rgba(0, 0, 0, 0.4)
}

#mui-rte-container>div[tabindex='0'] {
  padding: 0 !important;
  color: rgba(0, 0, 0, 0.4)
}

#mui-rte-container>#mui-rte-editor {
  padding: 0 !important;
  margin: 0 !important;
}

#mui-rte-container>#mui-rte-editor>#mui-rte-editor-container {
  padding: 0 !important;
  margin: 0 !important;
}

#mui-rte-root {
  border-color: white !important;
}

#mui-rte-toolbar {
  /* display: none !important; */
  visibility: hidden !important;
}

#mui-rte-root:hover #mui-rte-toolbar {
  display: block !important;
  visibility: visible !important;
}

#mui-rte-root:focus-within #mui-rte-toolbar {
  display: block !important;
  visibility: visible !important;
}


#mui-rte-root:focus-within {
  border-color: var(--philico-blue) !important;
  border-width: 1px !important;
}

/* Customize MUIRichTextEditor END */

/* outlinedinput dynamic cv END */

.header-wrapper{
  display: flex;
}

.content-wrapper{
  padding: 16px var(--padding-right-left-main-content);
}

/* if the screensize is smaller than 600px the wrapper div will be adjusted */
/* min-width is for greater and equal screen size of 600px; so if the screensize is greater or equal to 600px following css rules apply */
@media only screen and (min-width: 600px) {
  .MuiPaper-root.app-bar-mui-component {
    width: calc(100% - var(--drawer-width));
    margin-left: var(--drawer-width);
  }

  .content-wrapper {
    width: calc(100% - var(--drawer-width)- var(--padding-right-left-main-content));
    margin-left: var(--drawer-width);
  }

  .nav-bar-logo{
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* max-width is for less and equal screen size of 600px; so if the screensize is less or equal to 600px following css rules apply */
@media only screen and (max-width: 600px) {
  .wrapper-div-drawer {
      width: var(--drawer-width);
      flex-shrink: 0;
    }

  
}

/* set width of drawer */
.MuiDrawer-root.navigation-drawer > .MuiPaper-root{
  width: var(--drawer-width);
}

/* define class that can be used as a wrapper for the content */
/* .content-wrapper{
  width: calc(100% - var(--drawer-width));
  margin-left: var(--drawer-width);
} */

